.taskList {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-top: 20px;
  height: 140px;
  overflow: auto;
}

.task {
  border-radius: 4px;
  color: var(--accent);
  background-color: var(--task);
  padding: 4px;
  cursor: grab;
}

.taskTitle {
  max-width: 170px;
  overflow-wrap: break-word;
}
