.container {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  background-color: var(--main);
}

.icon {
  width: 36px;
  height: 36px;
  fill: rgba(0, 0, 0, 0.8);
  transition: fill 250ms linear;
}

.btn:hover .icon {
  fill: var(--accent);
}

.filters {
  display: flex;
  gap: 10px;
}

.monthPicker {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
}
