.list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(14, 1fr);
  border: 1px solid black;
  @media screen and (min-width: 768px) {
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(6, 1fr);
  }
}

.item {
  padding: 10px;
  min-width: 80px;
  height: 180px;
  border: 1px solid black;
  position: relative;
}

.current {
  background-color: rgba(83, 166, 243, 0.37);
}

.current .wrapper {
  background-color: orangered;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  font-weight: 600;
  background-color: var(--main);
  position: absolute;
  top: 0;
  padding: 4px;
  left: 0;
  width: 100%;
}

.nonActive {
  background-color: rgba(128, 128, 128, 0.358);
}

.day {
  color: var(--accent);
}
